<div class="row">
    <div class="col-xl-6 col-lg-6 mb-3">
        <div class="card">
            <div class="card-body">
                <form #sensorUpdateForm="ngForm" (ngSubmit)="update(sensorUpdateForm)">
                    <div class="basic-form">
                        <div class="mb-3">
                            <input [(ngModel)]="sensorDataModel.dataName" id="dataName" name="dataName" required
                                type="text" class="form-control input-default " placeholder="Sensör İsmi">
                        </div>
                        <div class="mb-3">
                            <input [(ngModel)]="sensorDataModel.pinNumber" id="pinNumber"
                                name="pinNumber" type="number" class="form-control input-default "
                                placeholder="Sensör pin numarası">
                        </div>
                        <div class="mb-3">
                            <select class="form-select" style="background-color: #262626; color: #fff;"
                                [(ngModel)]="sensorDataModel.sensorType" name="deviceType" required>
                                <option [value]="sensorDataModel.sensorType?.value">{{sensorDataModel.sensorType?.name}}
                                </option>
                                <option *ngFor="let type of sensorTypes" [ngValue]="type">{{ type.name }}</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary me-3">Kaydet</button>
                    <button type="button" (click)="deleteById()" class="btn btn-danger light">Bu cihazı sil</button>
                </form>

            </div>
        </div>
    </div>

    <div class="col-xl-6 col-lg-6 mb-3">
        <div class="card">
            <div class="card-body">

                <div class="basic-form">
                    <div class="mb-3">
                        <input [(ngModel)]="sensorDataModel.value" id="value" name="value" required
                            type="number" class="form-control input-default">
                    </div>
                    <div class="mb-3">
                        <input [(ngModel)]="sensorDataModel.value2" id="value2" name="value2" type="text"
                            class="form-control input-default " placeholder="Durum">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12 col-lg-6 mb-3">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Sensör kaydı</h4>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Değer1</th>
                            <th scope="col">Değer2</th>
                            <th scope="col">Tarih</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let log of sensorDataModel.sensorDataHistories">
                            <th scope="row">{{log.value}}</th>
                            <td>{{log.value2}}</td>
                            <td>{{log.createdAt | date: "dd/MM/yyyy - HH:mm"}}</td>
                            <!-- <td>
                                <button routerLink="/sensor-data/{{sensorData.id}}" class="btn"><i style="color: green;"
                                        class="fa fa-edit"></i></button>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- <div class="col-xl-12 col-lg-6 mb-3">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Günlük Kullanım</h4>
            </div>
            <div class="card-body">
                <div id="flotBar2" class="flot-chart"></div>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-lg-6 mb-3">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Haftalık Kullanım(Dakika)</h4>
            </div>
            <div class="card-body">
                <div id="flotBar1" class="flot-chart"></div>
            </div>
        </div>
    </div>

    <div *ngIf="sensorModel.sensorType === 1" class="col-lg-6 col-sm-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"></h4>
            </div>
            <div class="card-body">
                <div id="flotLine1" class="flot-chart"></div>
            </div>
        </div>
    </div> -->

</div>