<div class="row page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a routerLink="/charts">Grafikler</a></li>
        <li class="breadcrumb-item"><a routerLink="/chart/"></a></li>
    </ol>
</div>

<div class="row">
    <div *ngFor="let device of devices" class="col-xl-6 col-lg-6 mb-3">
        <div  class="card">
            <div class="card-body">
                

            </div>
        </div>
    </div>

    

    <!-- <div class="col-xl-12 col-lg-6 mb-3">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Günlük Kullanım</h4>
            </div>
            <div class="card-body">
                <div id="flotBar2" class="flot-chart"></div>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-lg-6 mb-3">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Haftalık Kullanım(Dakika)</h4>
            </div>
            <div class="card-body">
                <div id="flotBar1" class="flot-chart"></div>
            </div>
        </div>
    </div>

    <div *ngIf="sensorModel.sensorType === 1" class="col-lg-6 col-sm-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"></h4>
            </div>
            <div class="card-body">
                <div id="flotLine1" class="flot-chart"></div>
            </div>
        </div>
    </div> -->
    
</div>