<div class="row page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a routerLink="/devices">Cihazlar</a></li>
        <li class="breadcrumb-item"><a routerLink="/device/{{deviceId}}">{{deviceModel.deviceName}}</a></li>
    </ol>
</div>
<div class="row">
    <div class="col-xl-6 col-lg-6 mb-3">
        <div class="card">
            <div class="card-body">
                <form #sensorUpdateForm="ngForm" (ngSubmit)="update(sensorUpdateForm)">
                    <div class="basic-form">
                        <div class="mb-3">
                            <input [(ngModel)]="deviceModel.deviceName" id="deviceName" name="deviceName" required
                                type="text" class="form-control input-default " placeholder="Cihaz İsmi">
                        </div>
                        <div class="mb-3">
                            <input [(ngModel)]="deviceModel.deviceDescription" id="deviceDescription" name="deviceDescription"
                                type="text" class="form-control input-default " placeholder="Cihaz Açıklaması">
                        </div>
                        <div class="mb-3">
                            <!-- <input [(ngModel)]="sensorModel.roomId" id="roomId" name="roomId"
                             type="text" class="form-control input-default "
                                placeholder="Oda"> -->

                                <button *ngFor="let room of rooms" 
                                (click)="setRoomId(room.id!)" 
                                type="button"
                                class="btn me-3"
                                [ngClass]="{'btn-info': room.id !== selectedRoomId, 'btn-success': room.id === selectedRoomId}">
                          {{room.roomName}}
                        </button>

                        </div>
                        <div class="mb-3">
                            <select class="form-select" style="background-color: #262626; color: #fff;" [(ngModel)]="deviceModel.deviceType" name="deviceType" required>
                                <option [value]="deviceModel.deviceType?.value">{{deviceModel.deviceType?.name}}</option>
                                <option *ngFor="let type of deviceTypes" [ngValue]="type">{{ type.name }}</option>
                              </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary me-3">Kaydet</button>
                    <button type="button" (click)="deleteById()" class="btn btn-danger light">Bu cihazı sil</button>
                </form>

            </div>
        </div>
    </div>

    <div class="col-xl-6 col-lg-6 mb-3">
        <div class="card">
            <div class="card-body">

                <div class="basic-form">
                    <div class="mb-3">
                        <input readonly [(ngModel)]="deviceModel.serialNo" id="serialNo" name="serialNo" required
                            type="text" class="form-control input-default " placeholder="Seri Numara">
                    </div>
                    <div class="mb-3">
                        <input readonly [(ngModel)]="deviceModel.status" id="status" name="status" type="text"
                            class="form-control input-default " placeholder="Durum">
                    </div>
                    <div class="mb-3">
                        <input readonly [value]="deviceModel.createdAt | date:'dd/MM/yyyy'" id="createdDate"
                        name="createdDate" type="text" class="form-control input-default"
                        placeholder="Oluşturma tarihi">
                    </div>
                    <div class="mb-3 position-relative">
                        <input [type]="showSecretKey ? 'text' : 'password'" [(ngModel)]="deviceModel.secretKey" readonly
                               id="secretKey" name="secretKey" class="form-control input-default" placeholder="Secret Key"
                               (click)="copyToClipboard(deviceModel.secretKey!)">
                        <button type="button" class="btn position-absolute end-0 top-0"
                                (click)="showSecretKey = !showSecretKey" style="height: 100%; color: aliceblue;">
                            <i [class]="showSecretKey ? 'fa fa-eye-slash' : 'fa fa-eye'" style="color: red;"></i>
                        </button>
                    </div>
                    <button (click)="generateSecretKey()" type="button" class="btn btn-primary me-3">Secret Key oluştur</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12 col-lg-6 mb-3">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Sensörler 
                </h4>
                <button type="button" class="btn btn-warning" style="font-size: 18px; color: green; max-width: 60px; max-height: 60px;" data-bs-toggle="modal"
                data-bs-target="#exampleModalCenter">+</button>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">İsim</th>
                        <th scope="col">Pin No</th>
                        <th scope="col">Tip</th>
                        <th scope="col">Değer</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let sensorData of deviceModel.sensorDatas">
                        <th scope="row">{{sensorData.dataName}}</th>
                        <td>{{sensorData.pinNumber}}</td>
                        <td>{{sensorData.sensorType?.name}}</td>
                        <td>{{sensorData.value}}</td>
                        <td>
                            <button routerLink="/sensor-data/{{sensorData.id}}" class="btn"><i style="color: green;" class="fa fa-edit"></i></button>
                        </td>
                      </tr>
                      <!-- <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>twitter</td>
                      </tr> -->
                    </tbody>
                  </table>
            </div>
        </div>
    </div>

    <div class="col-xl-12 col-lg-6 mb-3">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Günlük Kullanım</h4>
            </div>
            <div class="card-body">
                <div id="flotBar2" class="flot-chart"></div>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-lg-6 mb-3">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Haftalık Kullanım(Dakika)</h4>
            </div>
            <div class="card-body">
                <div id="flotBar1" class="flot-chart"></div>
            </div>
        </div>
    </div>

    <div *ngIf="sensorModel.sensorType === 1" class="col-lg-6 col-sm-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"></h4>
            </div>
            <div class="card-body">
                <div id="flotLine1" class="flot-chart"></div>
            </div>
        </div>
    </div>
    
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sensör Ekle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>
            <form #sensorDataCreateForm="ngForm" (ngSubmit)="createSensor(sensorDataCreateForm)">
                <div>
                    <div class="card">
                        <div class="card-body">
                            <div class="basic-form">
                                <div class="mb-3">
                                    <input [(ngModel)]="sensorDataModel.dataName" id="dataName" name="dataName"
                                        required type="text" class="form-control input-default "
                                        placeholder="Sensör İsmi">
                                </div>
                                <div class="mb-3">
                                    <input [(ngModel)]="sensorDataModel.pinNumber" id="pinNumber" name="pinNumber"
                                        required type="number" class="form-control input-default "
                                        placeholder="Pin Numarası">
                                </div>
                                <div class="mb-3">
                                    <select class="form-select" [(ngModel)]="sensorDataModel.sensorType" name="deviceType" required>
                                        <option *ngFor="let type of sensorTypes" [ngValue]="type">{{ type.name }}</option>
                                      </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger light" data-bs-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-primary">Ekle</button>
                </div>
            </form>
        </div>
    </div>
</div>